<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<base th:href="@{/}">
<head>
    <meta charset="utf-8">
    <title>题目详情</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/css/public.css" media="all">
    <link rel="stylesheet" href="/static/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" media="all">
    <script src="/static/lib/jquery-3.4.1/jquery-3.4.1.min.js" charset="utf-8"></script>
    <script src="/static/js/jquery.slim.min.js" charset="utf-8"></script>
    <script src="/static/js/popper.min.js" charset="utf-8"></script>
    <script src="/static/js/bootstrap.min.js" charset="utf-8"></script>
    <style>
        body {
            background-color: #ffffff;
        }

        img {
            width: 900px;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <div class="layui-form-item" style="margin-top: 20px;">
        <label class="layui-form-label"><strong>题目：</strong></label>
        <div class="layui-input-block"
             style="border-color: black;border-width: 1px;border-style:solid;margin: 50px 0 50px 0; padding:20px 10px 20px 10px;">
            <span th:utext="${question.getQuestionHtml()}"></span>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"><strong>答案：</strong></label>
        <div class="layui-input-block"
             style="border-color: black;border-width: 1px;border-style:solid;margin: 50px 0 50px 0; padding:20px 10px 20px 10px;">
            <span th:utext="${question.answerHtml}"></span>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><strong>分值：</strong></label>
        <div class="layui-input-inline">
            <input class="layui-input" disabled th:value="${question.score}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><strong>题型：</strong></label>
        <div class="layui-input-inline">
            <input class="layui-input" disabled th:value="${question.type.name}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><strong>难度：</strong></label>
        <div class="layui-input-inline">
            <input class="layui-input" disabled th:value="${question.difficulty.name}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><strong>所属课程：</strong></label>
        <div class="layui-input-inline">
            <input class="layui-input" disabled th:value="${question.course.name}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><strong>所属教师：</strong></label>
        <div class="layui-input-inline">
            <button class="layui-btn layui-btn-primary" type="button" id="user-info">[[${question.user.username}]]
                <i class="fa fa-eye"></i></button>
        </div>
    </div>
</div>
<script src="/static/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script src="/static/js/lay-config.js" charset="utf-8"></script>
<script>
    layui.$("#user-info").on("click", function () {
        layer.open({
            title: '[[${question.user.username}]]',
            type: 2,
            shade: 0.2,
            maxmin: false,
            area: ['920px', '330px'],
            shadeClose: true,
            content: '/user/[[${question.user.username}]]',
        });
    })
</script>
</body>
</html>